.header__top {
    padding-top: 20px;
    margin-bottom: 19px;
}
.header__top-inner {
    display: flex;
}
.header__top-logo {
    margin-right: 37px;
}
.header__top-work + .header__top-work{
    margin-left: 40px;
}
.header__top-office,
.header__top-master {
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(22, 24, 32, 0.8);
}
.header__top-time,
.header__top-date {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #191D2D;
}
.header__top-phone {
    margin-left: 80px;
    display: flex;
    align-items: center;
}
.header__top-phone-img {
    width: 15px;
    height: 14px;
}
.header__top-phone-link,
.header__top-email-link {
    margin-left: 9px;
    font-size: 14px;
    line-height: 17px;
    color: #E15241;
}
.header__top-email {
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.header__top-email-img {
    width: 15px;
    height: 11px;
}

.header__line{
    width: 100%;
    border: 1px solid rgba(22, 24, 32, 0.15);
}

.header__btn {
    margin-left: 70px;
}
.mobile-whatsapp{
    display: none;
}

.header__bottom{
    margin-top: 19px;
    margin-bottom: 19px;
}
.header__button {
    width: 172px;
    width: 100%;
    padding: 14px 27px;
    font-weight: 700;
    font-size: 11.0968px;
    line-height: 14px;
    text-align: center;
    background: #191D2D;
    border-radius: 35.7563px;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
    transition: all .3s ease-in;
}
.header__button:hover{
    background:#E15241;
    transition: all .3s ease-in;
}

.nav-icon{
    width: 35px;
     display:none;
    position: relative;
    z-index: 20;
    margin-left: auto;
    margin-right: 20px;
}
.nav-icon__middle{
    position: relative;
    width: 35px;
    height: 3px;
    background-color: #000;
    transition: all .2s ease-in;
}

.nav-icon__middle::after,
.nav-icon__middle::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 3px;
    background-color: #000;
}
.nav-icon__middle::after{
    bottom: 7px;
    transition: all .2s ease-in;
}
.nav-icon__middle::before{
    top: 7px;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(45deg);
    bottom: 0;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(-45deg);
    top: 0; 
    transition: all .2s ease-in;
}


.menu__list {
    display: flex;
    justify-content: center;
}

.menu__list-item + .menu__list-item{
    margin-left: 50px;
}
.menu__list-item.active{
    color: #E15241;
}
.menu__list-link:hover{
    color: #E15241;
    transition: all .3s ease-in;
}
.menu__list-link.active{
    color: #E15241;
    padding-bottom: 100px;
    position: relative;
    z-index: 100;
}
.menu__list-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #191D2D;
    transition: all .3s ease-in;
}
.sub-menu {
    position: relative;
    padding-bottom: 10px;
}
.sub-menu > ul{
    position: absolute;
    max-width: 578px;
    padding: 35px;
    background-color: #fff;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    top: 80px;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    display: none;
    transition: all .3s ease-in;
}
.sub-menu__wrapper-right{
    margin-left: 40px;
}
// .menu__list-item.sub-menu:hover.sub-menu > ul{
//     display: block;
//     transition: all .3s ease-in;
//     margin-top: 37px;
// }
li{
    list-style: none;
}
.sub-menu__block{
    width: 227px;
    margin-bottom: 19px;
}
.sub-menu__wrapper{
    display: flex;
}
.sub-menu__title{
    margin-bottom: 18px;
    font-weight: 700;
    line-height: 173.9%;
}
.sub-menu__block > li{
    margin-bottom: 5px;
    line-height: 173.9%;
    transition: all .3s ease-in;
}
.sub-menu__block > li:hover{
    color: #E15241;
    transition: all .3s ease-in;
}
.active{
    color: #E15241;
}

.header__top-work.header-mobile,
.header__btn.header-mobile,
.header__top-email.header-mobile,
.header__top-phone.header-mobile{
    display: none;
}



// SLIDER TOP
.slider-top{
    position: relative;
    background: linear-gradient(88.07deg, #191D2D 77.2%, rgba(25, 29, 45, 0.94) 98.76%);
}
.slider__row{
    display: flex;
}
.slider__row-box {
    padding-top: 32px;
    padding-bottom: 186px;
    flex: 0 0 50%;
    max-width: 100%;
}
.slider__wrraper {
    width: 50%;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 100;
}
.slider-top__inner{
    margin-top: 20px;
}
.slider__wrraper-img{
    height: 786px;
}
.slider__wrraper-img img{
    object-fit: cover;
}
.slider__wrraper-img img{
    height: 100%;
}
.slider__tab{
    display: flex;
    margin-bottom: 90px;
}
.slider__tab-item + .slider__tab-item{
    margin-left: 11px;
}
.slider__tab-item{
    padding: 11px 32px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 75px;
}
.slider__title{
    max-width: 616px;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    text-shadow: 0px 4px 49px rgba(0, 0, 0, 0.25);
}
.slider__text{
    max-width: 365px;
    margin-bottom: 65px;
    font-weight: 300;
    font-size: 18px;
    line-height: 173.9%;
    color: #FFFFFF;
}
.slider__btn{
    width: 279px;
    height: 69px;
    background: #E15241;
    border: none;
    box-shadow: 0px 15px 19px rgba(0, 0, 0, 0.1);
    border-radius: 58px;
    color: #fff;
}

.slider-top__inner .slick-dots {
    transform: translateY(-190px);
    width: 300px;
   margin-right: auto;
   margin-left: 10%;
}
.slider-top__inner .slick-dots li button{
    border: 1px solid #fff;
   
}







// .tachographs-company
.tachographs-company{
    padding-top: 100px;
    padding-bottom: 116px;
}

.tachographs-company__block {
    display: flex;
    align-items: center;
}

.tachographs-company__block-content {
    max-width: 802px;
    margin-left: 84px;
}
.tachographs-company__block-title {
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}
.main__contant-text {
    line-height: 193.9%;
    max-width: 800px;
}
.button-btn{
    margin-top: 39px;
}
.button-btn,
.content-hide_btn {
    position: relative;
    background-color: transparent;
    font-weight: 600;
    line-height: 193.9%;
    color: #53A6AA;
    border: none;
}
.content-hide_btn{
    margin-top: 20px;
}
.content-hide_btn{
    margin-bottom: 40px;
}
.button-btn::after,
.content-hide_btn::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 12px;
    right: -20px;
}
.button-btn::after{
    background: url('../images/icon/arrows-accardeon.svg') no-repeat;
}
.content-hide_btn::after{
    background: url('../images/icon/arrows-accardeon-bottom.svg') no-repeat;
}
.content-hidden {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    line-height: 173.9%;
    z-index: 100;
   
}
.content-hidden {
    display: none;
    transition: all .5s ease-in;
  }
.card{
    display: block;
    transition: all .5s ease-in;
}






// client
.client{
    padding-top: 96px;
    padding-bottom: 96px;
}

.client__title {
    max-width: 640px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
}
.client__title span{
    color: #53A6AA;
}

.client-block__top {
    margin-bottom: 69px;
    display: flex;
    justify-content: center;
}
.client-block__item {
    width: 320px;
}
.client-block__item-img {
    margin-bottom: 44px;
    margin-left: auto;
    margin-right: auto;
    width: 148px;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(25, 29, 45, 0.03);
    border-radius: 8px;
}
.client-block__item-title {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 132.9%;
}
.client-block__item-title span{
    color: #53A6AA;
}
.client-block__bottom {
    display: flex;
    justify-content: space-between;
}





// installation
.installation{
    position: relative;
    background: #F8F8F9;
}
.installation-box__null {
    background: url('../images/car.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width:40%;
    left: 0;
}
.installation-box__info {
    padding: 79px 0 109px 79px;
    width: 60%;
    margin-left: auto;
}
.installation-box__title {
    max-width: 545px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}
.installation-box__title span{
    color: #53A6AA;
}
.installation-box__item-img{
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #53A6AA;
}
.installation-box__text {
    max-width: 680px;
    margin-bottom: 41px;
    line-height: 193.9%;
}
.installation-box__text span{
    color: #53A6AA;
}
.installation-box__block {
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
}
.installation-box__item {
    width: 179px;
}

.installation-box__item-text {
    margin-top: 17px;
    font-weight: 700;
}
.installation-box__block-text {
    line-height: 193.9%;
}



// SLIDER-tachographs
.tachographs {
    padding-top: 97px;
    padding-bottom: 96px;
    background: #191D2D;
}

.tachographs__title {
    margin-bottom: 69px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #53A6AA; 
}

.tachographs-slider__item {
    width: 318px;
    border-radius: 8px;
    padding: 54px 48px 35px 48px;
    background-color: #fff;
}
.tachographs-slider__item-img {
    height: 80px;
    width: 170px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}
.tachographs-slider__item-price {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #53A6AA;
}
.tachographs-slider__item-title {
    margin-bottom: 53px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.tachographs-slider__item-bottomm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tachographs-slider__inner .slick-dots{
    margin-top: 52px;
    padding:0;
    position: relative;
    gap: 0;
    width: 100%;
}
.tachographs-slider__inner .slick-dots li{
    position:relative;
    display:inline-block;
    width:50%;
    height:5px;
    padding:0;
    cursor:pointer;
    background-color:#2e3037;
    background-size:100% 100%;
    background-image:-webkit-gradient(linear, left, right, color-stop(1, #000), color-stop(1, transparent));
    background-image:-o-linear-gradient(left, #2e3037 100%, transparent);
    background-image:-moz-linear-gradient(left, #000 100%, transparent);
    background-image:-webkit-linear-gradient(left, rgb(12, 12, 12) 100%, transparent);
    background-image:linear-gradient(to right,#ffffff59 100%,transparent 100%);
    background-repeat:no-repeat;
}
.tachographs-slider__inner .slick-dots li:last-child{
   margin-right: 0;
}
.tachographs-slider__inner li:hover,.slider .slick-dots li.slick-active{
    background: #ffffff59;
}
.tachographs-slider__inner .slick-dots li button{
    display: none !important;
  }
.tachographs-slider__inner .slick-dots li.slick-active~li{
    background-size:0% 0%;
  }
.tachographs-slider__inner .slick-dots li.slick-active{
    -webkit-animation:right 3s ease-in-out forwards;
    -moz-animation:right 3s ease-in-out forwards;
    -o-animation:right 3s ease-in-out forwards;
    animation:right 3s ease-in-out forwards;
  }
  @keyframes right{
    0%{
      background-size:0% 100%;
    }
  
    100%{
      background-size:100% 100%;
    }
  }


// bottom clider
.tachographs__title__bottom{
    margin-top: 69px;
    margin-bottom: 69px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #53A6AA; 
}
  .tachographs-slider__item-bottom {
    width: 318px;
    padding: 54px 48px 35px 48px;
    background-color: #fff;
    border-radius: 8px;
}
.tachographs-slider__item-img-bottom {
    height: 80px;
    width: 170px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}
.tachographs-slider__item-price-bottom {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #53A6AA;
}
.tachographs-slider__item-title-bottom {
    margin-bottom: 53px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.tachographs-slider__item-bottom-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tachographs-slider__inner-bottom .slick-dots{
    margin-top: 52px;
    padding:0;
    position: relative;
    gap: 0;
    width: 100%;
}
.tachographs-slider__inner-bottom .slick-dots li{
    position:relative;
    display:inline-block;
    width:50%;
    height:5px;
    padding:0;
    cursor:pointer;
    background-color:#2e3037;
    background-size:100% 100%;
    background-image:-webkit-gradient(linear, left, right, color-stop(1, #000), color-stop(1, transparent));
    background-image:-o-linear-gradient(left, #2e3037 100%, transparent);
    background-image:-moz-linear-gradient(left, #000 100%, transparent);
    background-image:-webkit-linear-gradient(left, rgb(12, 12, 12) 100%, transparent);
    background-image:linear-gradient(to right,#ffffff59 100%,transparent 100%);
    background-repeat:no-repeat;
}
.tachographs-slider__inner-bottom .slick-dots li:last-child{
   margin-right: 0;
}
.tachographs-slider__inner-bottom li:hover,.slider .slick-dots li.slick-active{
    background: #ffffff59;
}
.tachographs-slider__inner-bottom .slick-dots li button{
    display: none !important;
  }
.tachographs-slider__inner-bottom .slick-dots li.slick-active~li{
    background-size:0% 0%;
  }
.tachographs-slider__inner-bottom .slick-dots li.slick-active{
    -webkit-animation:right 3s ease-in-out forwards;
    -moz-animation:right 3s ease-in-out forwards;
    -o-animation:right 3s ease-in-out forwards;
    animation:right 3s ease-in-out forwards;
  }
  @keyframes right{
    0%{
      background-size:0% 100%;
    }
  
    100%{
      background-size:100% 100%;
    }
  }














// SLIDER-SERTIFICATES
.certificates {
    padding-top: 98px;
    padding-bottom: 150px;
    background-color: #191D2D;
}

.certificates__title{
    margin-bottom: 39px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.certificates-slider__inner .slick-dots{
    margin-top: 52px;
    padding:0;
    position: relative;
    gap: 0;
    width: 100%;
}
.certificates-slider__inner .slick-dots li{
    position:relative;
    display:inline-block;
    width:50%;
    height:5px;
    padding:0;
    cursor:pointer;
    background-color:#2e3037;
    background-size:100% 100%;
    background-image:-webkit-gradient(linear, left, right, color-stop(1, #000), color-stop(1, transparent));
    background-image:-o-linear-gradient(left, #2e3037 100%, transparent);
    background-image:-moz-linear-gradient(left, #000 100%, transparent);
    background-image:-webkit-linear-gradient(left, rgb(12, 12, 12) 100%, transparent);
    background-image:linear-gradient(to right,#ffffff59 100%,transparent 100%);
    background-repeat:no-repeat;
}
.certificates-slider__inner .slick-dots li:last-child{
   margin-right: 0;
}
.certificates-slider__inner li:hover,.slider .slick-dots li.slick-active{
    background: #ffffff59;
}
.certificates-slider__inner .slick-dots li button{
    display: none !important;
  }
.certificates-slider__inner .slick-dots li.slick-active~li{
    background-size:0% 0%;
  }
.certificates-slider__inner .slick-dots li.slick-active{
    -webkit-animation:right 3s ease-in-out forwards;
    -moz-animation:right 3s ease-in-out forwards;
    -o-animation:right 3s ease-in-out forwards;
    animation:right 3s ease-in-out forwards;
  }
  @keyframes right{
    0%{
      background-size:0% 100%;
    }
  
    100%{
      background-size:100% 100%;
    }
  }


// CALL
.call{
    padding-top: 75px;
    padding-bottom: 93px;
    background: url('../images/call.jpg') no-repeat center;
    background-size: cover;
}

.call__inner {
    max-width: 728px;
    margin-left: auto;
    margin-right: auto;
}
.call__inner-text {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 177.9%;
    text-align: center;
    color: #FFFFFF;
    
}
.call__inner-title {
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 24px;
    line-height: 155.4%;
    text-align: center;
    color: #FFFFFF;
}
.call__block {
    display: flex;
    justify-content: center;
}
.call__block-btn,
.call__block-chat{
    width: 278px;
    height: 68px;
    border: none;
    box-shadow: 0px 15px 19px rgba(0, 0, 0, 0.1);
    border-radius: 58px;
    transition: all .3s ease-in;
}
.call__block-btn {
    background-color: #E15241;
    color: #fff;
}
.call__block-btn:hover{
    background-color: #fff;
    transition: all .3s ease-in;
    color: #E15241;   
}
.call__block-chat {
    margin-left: 17px;
    background-color: #fff;
    color: #E15241;
}
.call__block-chat:hover{
    background-color: #E15241;
    color: #fff;
}









// PRICE
.price{
    padding-top: 105px;
    padding-bottom: 105px;
}

.price__inner {
    display: flex;
    justify-content: space-around;
}
.price__block {
    margin-top: 50px;
    max-width: 600px;
}
.price__block-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
}
.price__block-text {
    font-size: 16px;
    line-height: 173.9%;
}
.price__block-text span{
    color: #53A6AA;
}
.price__info {
    max-width: 700px;
    margin-left: 80px;
}
.price__info-item {
    max-width: 514px;
    margin-bottom: 49px;
    display: flex;
    align-items: center;
}
.price__info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #53A6AA;
}
.price__info-desc {
    margin-left: 20px;
}
.price__info-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 132.9%;
}
.price__info-text {
    line-height: 144.9%;
}



// REVIEWS
.reviews{
    padding-top: 98px;
    padding-bottom: 120px;
    background: #53A6AA;
}

.reviews__title {
    margin-bottom: 85px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.reviews__item {
    max-width: 390px;
    padding: 36px 28px 42px 29px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.reviews__item-title {
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.reviews__item-img {
    margin-bottom: 18px;
}
.reviews__item-text {
    font-size: 14px;
    line-height: 23px;
}
.slick-prev-btn,
.slick-next-btn{
    width: 53px;
    height: 53px;
    position: absolute;
    border: none;
    z-index: 100;
    top: 30%;
}
.slick-prev-btn{
    background: url('../images/icon/arrows-left.png') no-repeat;
    left: -3%;
}
.slick-next-btn{
    background: url('../images/icon/arrows-right.png') no-repeat;
    right: -3%;
}
.slick-dots{
    margin-top: 52px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.slick-dots li button{
    padding: 0;
    font-size: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}
li.slick-active  button{
    background: rgba(255, 255, 255, 0.35);
}






// PARTNERS
.partners {
    padding-top: 95px;
    padding-bottom: 89px;
    background-color: #161926;
}

.partners__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  





// footer
.footer{
    background-color: #191D2D;
    color: #fff;
}
.footer__inner{
    position: relative;
}
.footer__box{
    display: flex;
    flex-wrap: wrap;
}
.footer__box-null{
    padding-top: 140px;
    padding-left: 80px;
    background: url('../images/footer-ing.jpg') no-repeat center;
    background-size: cover;
    width: 45%;
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 10;
}
.footer__box-info{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 720px;
}
.footer__info-inner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.footer__info-block{
   width: 200px;
}
.footer__inner_block__wrapper{
    display: flex;
    column-gap: 50px;
}
.footer__info-title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 189.9%;
}
.footer__info-item{
    margin-bottom: 5px;
}
.footer__info-link{
    font-size: 16px;
    line-height: 30px;
}
.footer__info-block-wrapper{
    margin-bottom: 40px;
}
.footer__null-title{
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 21px;
    line-height: 189.9%;
    color: #191D2D;
}
.footer__null-phone{
    display: block;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 21px;
    line-height: 189.9%;
    color: #E15241;
}
.footer__null-email,
.footer__null-address{
    font-weight: 400;
    font-size: 18px;
    line-height: 127.9%;
    color: #191D2D;
}
.footer__null-address{
    margin-bottom: 22px;
    width: 364px
}
.footer__null-email{
    display: block;
    margin-bottom: 43px;
}
.footer__null-btn{
    margin-bottom: 40px;
    display: block;
    width: 265px;
    height: 59px;
    background: #E15241;
    color: #fff;
    border: none;
    box-shadow: 0px 15px 19px rgba(0, 0, 0, 0.1);
    border-radius: 58px;
    transition: all .3s ease-in;
    font-size: 14px;
}
.footer__null-btn:hover{
    background: #CB4C3D;
    transition: all .3s ease-in;
}
.footer__capcha{
    display: flex;
    align-items: center;
}
.footer__yandex{
    width: 200px;
    height: 30px;
}
.footer__capcha-img{
    margin-left: 30px;
}


// modal
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
     background: rgba(9, 14, 33, 0.8);
    overflow: hidden;
    z-index: 100;
}
.modal__inner {
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.modal-form {
    padding: 50px;
    max-width: 468px;
    background-color: #fff;
}
.modal-form__input {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    font-size: 21px;
    line-height: 173.9%;
    border: none;
    outline: none;
}

.modal-form__line{
    border: 1px solid #191D2D;
}
.modal-form__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #E15241;
}

.modal-form__subtitle{
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.modal-form__btn{
    margin-top: 36px;
    display: block;
    max-width: 239px;
    height: 59px;
    width: 100%;
    color: #fff;
    border: none;
    background: #E15241;
    box-shadow: 0px 15px 19px rgba(0, 0, 0, 0.1);
    border-radius: 58px;
}

.modal-form__close{
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    border: 1px solid #000;
}
.modal__close{
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modal{
    display: none;
}






.show{
    display: block !important;
}
.hide{
    display: none;
}







